*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 1000px;
    height: 800px;
    padding: 20px 0;
    margin: 20px auto;
    border: 2px solid goldenrod;
}

.image_box
{

    width: calc((1000px - 80px) / 3);
    
}

img
{
    display: block;
}

.image_box .image
{
    height: calc((800px - 80px) / 3);
    background-repeat: no-repeat;
    background-size: cover;
}