*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container
{
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    height: 800px;
    padding: 20px;
    margin: 10px auto;
    border: 2px solid goldenrod;
}

#container #image_box
{
    width: calc((1000px - 80px) / 3);
}

img
{
    display: block;
    width: 100%;
    height: calc((800px - 80px) / 3);
    background-repeat: no-repeat;
    background-size: cover;
}

#container #image_box .image
{

}